
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
 }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



/*a {*/
  /*&:link,  &:visited {*/
    /*color: #333;*/
  /*}*/
/*}*/

table.item_table {

  border-spacing: 0;
  td, th {
    margin: 0;
  }
  tr.inconsistent td, tr.inconsistent td:nth-child(1n) {
    background-color: #f99;
  }
}

.input.error {
  margin-top: 0;
}

legend.label label {
  font-size: 13px;
}

input[type='number'] {
  margin: 0.5em, 0;
  padding: 5px;
}


.menu {
  padding-left:0px;
  margin-top: 59px;
}

div.header {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

#top_links {
  float: right;
}

#user_message {
  margin-right: 10px;
}
#user_links {
}

.upload_form {
  margin-top: 30px;
  ul {
    list-style: none;
    li {
      margin-left:-20px;
    }
  }
}

.footer {
  min-height: 40px;
}

div.spacer20 {
  min-height: 20px;
}

div.spacer40 {
  min-height: 40px;
}

#item-table.table-striped {
  tbody {
    /*tr:nth-child(odd) td,*/
    /*tr:nth-child(odd) th {*/
      /*background-color: #e0ffff;*/
    /*}*/
    tr.inconsistent td, tr.inconsistent td:nth-child(1n) {
      background-color: #f99;
    }
  }
}
